/*Reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    line-height: 26px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #676b79;
    background: #f5f6fa;
}
.wrapper{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 100px 0;
    background: #3b7cdd;
}
.login-container{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    margin: auto;
    box-shadow: 0px 14px 60px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.login-form{
    width: 50%;
    padding: 70px 85px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-form h1{
    color: #2a2a2d;
    font-size: 32px;
    margin-bottom: 30px;
}
.login-form p{
    font-size: 16px;
    margin-bottom: 40px;
}
.form-spacing{
   margin-bottom: 30px; 
}
.email-for .email-password{
    width: 100%;
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}
.base-input{
    padding: 19px 15px;
    width: 100%;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
}
.form-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    flex-wrap: wrap;
}
.rememberme{
    display: flex;
    vertical-align: middle;
    align-items: center;
}
.rememberme span{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 0.7rem;
}
[type="checkbox"]{
    width: 1.1rem;
    height: 1.1rem;
}
.form-btn{
    font-size: 16px;
    padding: 16px 20px;
    border: 2px solid #3c54db;
    background-color: #3c54db;
    color: #fff;
    cursor: pointer;
    display: inline;
    border-radius: 3px;
}
.or-link{
    border-top: 1px solid #3c54db;
    margin-top: 45px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.or-link span{
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 25px;
    background: #fff;
    position: relative;
    top: -14px;
    color: #3c54db;
}
.register-link{
    text-align: center;
}
.login-image{
    background: url('./images/login-form.png') left center / cover no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 50%;
    height: 100%;
}
//Responsiveness
@media (max-width: 991px){
    .login-image{
        display: none;
    }
    .login-form{
        width: 100%;
    }
    .form-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
